<html>
<head>
	<style>
		
body{
   background-image:url("/assets/bg3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   	
}
</style>
</head>

<body>
<%= link_to "Back to list", controller:"book", action:'list', class: "back-link" %>

<div clss ="Book Delete">
	<h2> Delete Book</h2>

	<%= form_for(:books,url:{action: 'destroy', id: @book.id } ) do |t| %>

	<p>Are you sure you want to permantly delete this Book </p>

	<p class="refernce-name"> <%= @book.name %> </p>

	<div class ="form-buttons">
		  <%=submit_tag("Delete Book")%>
	</div>
	
	<% end %>
</div>		  
</body>
</html>